body {
  text-align: center;
}

#page-heading {
  text-align: center;
  margin-top: 25px;
  color: gray;
}
ul {
  display: inline-block;
}
li {
  list-style-type: none;
  display: flex;
  width: 500px;
  margin: 0px;
  background-color: rgb(146, 146, 211);
  margin: 5px;
  justify-content: space-between;
}
li>div:first-of-type
{
        list-style-type: none;
        display: flex;
        width: 500px;
        margin: 0px;
        background-color: rgb(146, 146, 211);
        margin: 5px;
        justify-content: space-between;
}
li:hover {
  background-color: rgb(194, 194, 194);
}
li p {
  display: inline-block;
  align-self: center;
  padding: 10px;
  font-size: 20px;
  margin: 0px;
  font-weight: 700;
}
form {
  display: block;
  margin-left:40px;
}
input {
  padding: 10px;
  font-weight: 700;
}
button {
  padding: 10px 20px 10px 20px;
  font-weight: 700;
  border-radius: 20px;
  border: 3px solid black;
  background-color: rgb(187, 187, 192);
  
}
button:hover
{
    background-color: rgb(134, 134, 138);
}
